@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "null";


$maxWidth: 1920;
$maxWidthContainer: 1310;

@mixin av($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        #{$property}: $startSize+px;

        //Только если меньше контейнера 
        @media (max-width:#{$maxWidthContainer + px}) {
            #{$property}:calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }

    @else if $type==2 {
        //Только если больше контейнера 
        #{$property}: $startSize + px;

        @media (max-width:#{$maxWidthContainer + px}) {
            #{$property}:calc(#{$minSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    }

    @else {
        #{$property}:calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

//    @include av('padding-top',68,40,1);

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

a {
    color: inherit;
}

//------------------------------------------------

//------------------------------------------------


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

main {
    flex: 1 1 auto;
}

[class*='__container'] {
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    padding: 0 0.9375rem;

    @media (max-width:1199.98px) {
        max-width: 970px;
    }

    @media (max-width:991.98px) {
        max-width: 750px;
    }

    @media (max-width:767.98px) {
        max-width: none;
    }
}

// ---------------------------------------------
body {
    font-family: "Roboto", sans-serif;
    color: #0f172a;
    background: #FFFCEE;
}

.scroll {
    background-color: rgba(255, 255, 255, 0.7);
}

//--------------------------------------------------------

.header {
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    left: 0;
}

.header {}

.header__container {
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    @media (max-width:47.9988em) {
        min-height: 4.1875rem;
    }
}

.header-logo {
    font-weight: 700;
    font-size: 2rem;
    line-height: 110%;
    color: #78350f;
    position: relative;
    z-index: 2;
}


.header-body {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header-menu {}

.header-list {
    display: flex;
    column-gap: 1.5rem;
    row-gap: 0.9375rem;
}

.header-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    transition: color 0.3s ease;

    &:hover {
        color: #f75b00;
    }
}

.header-button {
    @media (max-width:47.9988em) {
        display: none;
    }

    padding: 0.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    border: 0.125rem solid #78350f;
    border-radius: 0.5rem;
    transition: all 0.5s ease;

    &:hover {
        background-color: #78350f;
        color: white;
    }
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    border: 0.125rem solid #78350f;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    padding: 1rem 2rem;

    &:hover {
        background-color: #78350f;
        color: white;
    }
}

@import 'burger';
//_____________________________________________

.hero {
    @include av('padding-top', 176, 80, 1);
    @include av('padding-bottom', 80, 50, 1);

    @media (max-width:47.9988em) {
        padding-top: 7.1875rem;
        padding-bottom: 3rem;
    }
}

.hero__container {
    display: flex;
    align-items: center;
    column-gap: 5rem;
    justify-content: space-between;

    @media (max-width:61.9988em) {
        flex-direction: column;
        row-gap: 2rem;
    }
}

.hero-content {
    max-width: 44.625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width:61.9988em) {
        text-align: center;
        align-items: center;
    }

}

.hero-title {
    font-weight: 800;
    @include av('font-size', 72, 48, 1);

    line-height: 110%;
    color: #0f172a;
}

.hero-text {
    font-size: 1.125rem;
    line-height: 160%;
    color: #0f172a;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1.625rem;

    @media (max-width:47.9988em) {
        gap: 1rem;
    }
}

.hero-button {
    padding: 1rem 2rem;
}

.button {}

.demo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    transition: color 0.3s ease;

    svg {
        transition: transform 0.3s ease;
    }

    &:hover {
        color: #f75b00;

        svg {
            transform: scale(1.1);
        }
    }
}

.hero-media {
    flex: 0 0 38%;

    img {
        max-width: 100%;
    }
}

//__________________________

.services {
    @include av('padding', 80, 30, 1);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100rem;
        height: 250%;
        bottom: 0;
        right: 0;
        z-index: -2;
        background: url('../img/icons/decor/decor-hero.svg') 0 0/contain no-repeat;

        @media (max-width:64em) {
            bottom: -5%;
        }

        @media (max-width:61.9988em) {
            bottom: -100%;
        }

        @media (max-width:47.9988em) {
            bottom: -140%;
        }
    }
}

.services__container {}

.services-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
    row-gap: 2rem;
    @include av('column-gap', 80, 40, 1);

}

.services-item {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;

    @media (max-width:47.9988em) {
        align-items: center;
        text-align: center;
    }
}

.services-item-icon {}

.first {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 39px;
        width: 57px;
        top: -4px;
        left: 21px;
        background: url('../img/icons/icon/11.svg');
        z-index: -1;
    }

}

.second {
    margin-top: -0.875rem;
}

.services-item-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 110%;
    color: #0f172a;
}

.services-item-text {
    font-size: 1.125rem;
    line-height: 160%;
    color: #0f172a;
}

//__________________________

.cards {
    @include av('padding-top', 80, 40, 0);
    @include av('padding-bottom', 80, 40, 0);
    background-color: #0f172a;
    position: relative;

    &::after {
        z-index: 2;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../img/cards/bg.svg') center no-repeat;

        @media (max-width:61.9988em) {
            top: 40%;
            width: 200%;
            left: 00%;
            transform: translate(0), rotate(-90deg);
        }
    }
}

.cards__container {
    position: relative;
    z-index: 3;
}

.cards-header {
    @include av('padding-bottom', 80, 40, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 2rem;
    }
}

.cards-title {}

.title {
    font-weight: 800;
    @include av('font-size', 56, 32, 1);
    line-height: 110%;
    color: #fff;
}

.cards-button {
    border: 0.125rem solid #fff;
    border-radius: 0.5rem;
    padding: 1.25rem 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        color: black;
        background-color: white;
    }

    @media (max-width:61.9988em) {
        padding: 0.9375rem 1.5rem;
    }
}

.button {
    @media (max-width:61.9988em) {
        padding: 0.9375rem 1.5rem;
    }
}

.cards-items {
    display: grid;
    column-gap: 3rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}

.cards-item {
    border: 0.0625rem solid #0f172a;
    border-radius: 0.625rem;
    overflow: hidden;
    background: #0f172a;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.07), 0 25px 50px -12px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.1), 0 35px 60px -10px rgba(255, 255, 255, 0.3);
    }
}

.item-image {
    display: block;
    position: relative;
    padding-bottom: 55.83%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.second-image {
    transform: scale(1.01);
}

.item-body {
    padding: 2rem;
    display: block;
}

.item-title {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    @include av('font-size', 24, 20, 1);

    line-height: 110%;
    color: #fff;
    padding-bottom: 1rem;
}

.item-text {
    display: block;
    font-size: 1.125rem;
    line-height: 160%;
    color: #fff;
}

.item-button {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    border: 0.125rem solid #fff;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;

    svg {
        transition: all 0.3s ease;
    }

    &:hover {
        color: black;
        background-color: white;

        svg path {
            fill: black;
        }
    }
}

//____________________________________

.video {
    @include av('padding-top', 160, 30, 1);
    @include av('padding-bottom', 160, 0, 1);
}

.video__container {}

.video-body {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    border-radius: 1.875rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.9375rem;

    @media (max-width:64em) {
        padding: 1.875rem 0;
    }

    @media (max-width:61.9988em) {
        flex-direction: column;
    }

    @media (max-width:47.9988em) {
        row-gap: 2rem;
    }
}

.video-content {
    padding-left: 1.875rem;

    @media (min-width:64.0625em) {
        padding-left: 5rem;
    }

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width:61.9988em) {
        padding-left: 0;
    }

    @media (max-width:47.9988em) {
        padding: 1rem;
    }
}

.video-title {
    color: #0f172a;

    @media (max-width:47.9988em) {
        font-size: 2rem;
        text-align: center;
    }
}


.video-list {}

.video-item {
    padding-left: 2rem;
    font-size: 1.25rem;

    line-height: 180%;
    color: #0f172a;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0.3125rem;
        width: 1.5rem;
        height: 1.5rem;
        left: 0;
        background: url('../img/video-block/check.svg')left no-repeat;
    }

    @media (max-width:47.9988em) {
        font-size: 1rem;
    }
}

.video-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 11.25rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    border: 0.125rem solid #78350f;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    padding: 1rem 2rem;

    &:hover {
        background-color: #78350f;
        color: white;
    }

    @media (max-width:47.9988em) {
        align-self: center;
    }
}

.video-media {
    margin-bottom: -5%;
    margin-right: -3%;
    margin-top: -4.7%;
    flex: 0 0 55.7%;

    img {
        max-width: 100%;
    }
}

//-----------------

.grow {
    position: relative;
    @include av('padding-top', 80, 0, 1);
    @include av(' padding-bottom', 128, 0, 1);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: url('../img/grow/bg.svg') 0 0/cover no-repeat;
    }
}

.grow__container {}

.grow-header {
    @include av(' padding-bottom', 80, 30, 1);
}

.grow-title {
    color: #0f172a;
    margin-bottom: 2rem;

    @media (max-width:47.9988em) {
        text-align: center;
    }
}

.grow-text {
    font-size: 1.125rem;
    line-height: 160%;
    color: #0f172a;
}

.grow-row {
    display: flex;
    column-gap: 3.125rem;
    row-gap: 2rem;

    @media (max-width:61.9988em) {
        flex-direction: column;
    }
}

.grow-column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include av('gap', 48, 20, 1);

}

.grow-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #0f172a;
    padding: 1rem 0.5rem 1rem 1rem;
    width: 16rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        background: url('../img/grow/icon/arrow-right.svg') 0 0 no-repeat;
    }

    &:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.37), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        text-decoration: underline;
    }
}

.grow-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #0f172a;
}

.grow-media {
    flex: 0 1 77.65%;
    margin-top: -1%;

    img {
        max-width: 100%;
    }
}

//___________________
.map {
    background: #78350f;
    @include av('padding-top', 40, 0, 1);
    @include av('padding-bottom', 80, 0, 1);

}


.map__container {}

.map__mini-container {
    max-width: 65.5625rem;
    margin: 0 auto;
    position: relative;
}

.map-image {
    padding-bottom: 62.44%;
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.map-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-45%);

    @media (max-width:61.9988em) {
        top: 55%;
    }

    @media (max-width:47.9988em) {
        top: 60%;
    }
}

.map-number {
    font-weight: 800;
    @include av('font-size', 96, 48, 1);
    line-height: 110%;
    text-align: center;
    color: #fffbeb;
    margin-bottom: 0.625rem;

    @media (max-width:47.9988em) {
        font-size: 3rem;
    }
}

.map-text {
    font-weight: 800;
    @include av('font-size', 56, 32, 1);
    line-height: 110%;
    text-align: center;
    color: #fffbeb;

    @media (max-width:47.9988em) {
        font-size: 2rem;
    }
}

//____________________

.collectors {
    position: relative;
    @include av('padding-top', 80, 30, 1);
    @include av('padding-bottom', 80, 30, 1);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: url('../img/items/decor.svg') 0 0/cover no-repeat;
    }
}

.collectors__container {}

.collectors-header {
    @include av('margin-bottom', 80, 30, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.collectors-title {
    color: #0f172a;
}

.collectors-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    display: flex;
    gap: 1rem;
    align-items: center;

    &:hover {
        text-decoration: underline;
    }
}

.grow-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.5rem;
}

.collectors-item {
    max-width: 18.875rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
    border: 0.0625rem solid #e2e8f0;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.37), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    @media (max-width:61.9988em) {
        max-width: none;
    }
}

.collectors-item-image {
    position: relative;
    padding-bottom: 72%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.collectors-item-body {
    padding: 2rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.collectors-item-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 110%;
    color: #0f172a;
    margin-bottom: 1rem;
}

.collectors-item-text {
    margin-bottom: 1.75rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 160%;
    color: #0f172a;
    flex: 1 1 auto;
}

.collectors-item-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;

    &:hover {
        text-decoration: underline;
    }
}


//========

.events {
    position: relative;
    background-color: #FEF3C7;
    @include av('padding-top', 80, 0, 1);
    @include av('padding-bottom', 80, 30, 1);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: url('../img/items/black.svg') 0 0/cover no-repeat;
    }
}

.events__container {
    position: relative;
    z-index: 3;
}

.events-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include av('margin-bottom', 80, 30, 1);

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.events-title {
    color: #0f172a;
}

.events-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
        text-decoration: underline;
    }
}

.events-items {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    display: grid;
    gap: 1.5rem;
}

.events-item {
    padding: 1.5rem 1rem 1.75rem 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.events-subtitle {
    font-weight: 500;
    font-size: 1rem;
    line-height: 110%;
    color: #0f172a;
    margin-bottom: 0.3125rem;
}


.events-item-title {
    flex: 1 1 auto;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 110%;
    color: #0f172a;
}

.events-img {
    border-radius: 0.625rem;
    overflow: hidden;
    padding-bottom: 81.48%;
    position: relative;
    margin-bottom: 1.75rem;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.events-item-link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #78350f;
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
        text-decoration: underline;
    }
}

//____________________________________________________________________________________________________________________________________________
.today {
    background: #0f172a;
    @include av('padding-top', 80, 0, 1);
    @include av('padding-bottom', 80, 30, 1);
}

.today__container {}

.today-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.today-title {
    font-weight: 800;
    @include av('font-size', 56, 20, 1);
    line-height: 110%;
    color: #fff;
}

.today-link {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 1.25rem 3rem;
    border: 0.125rem solid #fff;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    background-color: transparent;

    &:hover {
        background-color: white;
        color: #0f172a;
    }

    @media (max-width:61.9988em) {
        padding: 0.9375rem 1.5rem;
    }
}

//____________________________________________________________________________________________________________________________________________
.footer {
    background: #0f172a;
    @include av('padding-top', 48, 20, 1);
    @include av('padding-bottom', 37, 15, 1);
}

.footer__container {}

.footer-top {
    border-bottom: 0.0625rem solid #334155;
    border-top: 0.0625rem solid #334155;
    @include av('padding-top', 48, 20, 1);
    @include av('padding-bottom', 48, 20, 1);
    display: flex;
    @include av('gap', 222, 0, 1);

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

}

.footer-left {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
    }
}

.footer-column {}

.footer-list-name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 110%;
    color: #fff;
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    gap: 0.625rem;
    align-items: center;

    &._active {
        svg {
            transform: rotate(-90deg);
        }
    }

    @media (max-width:47.9988em) {
        margin-left: 0.9375rem;
    }

    @media (min-width:47.9988em) {

        svg {
            display: none;
        }
    }
}

.footer-list {
    li:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    a {
        color: #e2e8f0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-right {
    justify-self: end;

    @media (max-width:61.9988em) {
        margin-right: -6.25rem;
    }

    @media (max-width:47.9988em) {
        margin: 0;
    }

    @media (max-width:47.9988em) {
        text-align: center;
    }
}

.footer-right-name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 110%;
    color: #fff;
    margin-bottom: 1.25rem;
}

.footer-actions {
    margin-bottom: 3.5rem;

    @media (max-width:47.9988em) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

.footer-apps {
    &:not(:last-child) {
        margin-bottom: 0.6875rem;
    }

    @media (max-width:47.9988em) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

}

.footer-socials-name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 110%;
    color: #e2e8f0;
    margin-bottom: 1.25rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;

    @media (max-width:61.9988em) {
        display: inline-flex;
    }

}

.footer-social-link {
    svg {
        transition: all 0.3s ease;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}

.footer-bottom {
    padding-top: 2.3125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:47.9988em) {
        flex-direction: column;
        gap: 2.3125rem;
        padding-bottom: 3rem;
    }
}

.footer-copy {
    line-height: 140%;
    color: #e2e8f0;
}

.footer-bottom-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer-bottom-link {
    line-height: 140%;
    color: #e2e8f0;

    &:hover {
        text-decoration: underline;
    }

}

.lang {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #e2e8f0;
}




.love {
    @include av('padding-top', 80, 30, 1);
    @include av(' padding-bottom', 80, 30, 1);
}

.love__container {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        background: #fde68a;
        top: 19%;
        left: 0;
        width: 106%;
        margin-left: -2.5rem;
        margin-right: -2.5rem;
        height: 26.3125rem;
        height: 70%;

        @media (max-width:47.9988em) {
            margin: 0;
            width: 100%;
            height: 70%;
        }
    }
}

.love-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include av('margin-bottom', 80, 30, 1);

    @media (max-width:47.9988em) {
        justify-content: center;
    }
}

.love-title {
    color: #0f172a;

    @media (max-width:47.9988em) {
        text-align: center;
    }
}

.arrows {
    position: static;
    display: flex;
    gap: 1.5rem;

    @media (max-width:47.9988em) {
        display: none;
    }
}

.swiper-button-prev {}

.slider-prev {
    position: static;
    border: 0.125rem solid #78350f;
    border-radius: 6.25rem;
    padding: 0.75rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        display: none;
    }
}

.swiper-button-next {}

.slider-next {
    position: static;
    border: 0.125rem solid #78350f;
    border-radius: 50%;
    padding: 0.75rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        display: none;
    }
}

.swiper {}

.slider {}

.swiper-wrapper {}

.slider-wrapper {
    display: flex;
    gap: 1.5rem;
}

.slider-slide {
    display: flex;
    height: auto;
}

.slider-slide {}

.slide-item {
    border: 0.0625rem solid #e2e8f0;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.07), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;

}

.title-slide {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.875rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 110%;
    color: #475569;

    @media (max-width:47.9988em) {
        margin-bottom: 1.5rem;
    }
}

.slide-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #000;
    margin-bottom: 2rem;
    flex: 1 1 auto;
    max-width: 20rem;

    @media (max-width:47.9988em) {
        margin-bottom: 1.5rem;
        max-width: none;
        font-size: 1rem;
    }
}

.slide-author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.autor-image {
    flex: 0 0 4rem;
}

.author-info {}

.author-name {
    line-height: 160%;
    color: #000;
}

.author-pos {
    line-height: 140%;
    color: #475569;
}